<div class="my-5">  
  <%= form_with url: products_path, method: :get do |form| %>
    <div class="flex justify-center">
      <%= form.label :name,class:"mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white" %>
      <%= form.select :category_id,Category.order(:name).map {|category| [category.name,category.id]} %>
      <div class="w-100">
        <%= form.search_field class:"block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" %>
      </div>
      <div>
        <%= form.submit "search", class:"px-2 text-sm font-medium h-full text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    </div>

  <% end %>
</div>