<div id="<%= dom_id product %>">

    <%= link_to product_path(product) do %>
      <div class="rounded shadow-lg w-1/3 h-80">
          <% product.images.each do |image|  %>
            <%= image_tag(image) %>
          <% end %>
          <div class="px-6 py-2">
            <h3 class="text-start text-2x1 font-bold">  $<%= product.price %> </h3>
            <p> room <%= product.room %> </p>

          </div>
      </div>
    <% end %>

    

</div>
