<div id="<%= dom_id product %>">

    <%= link_to product_path(product) do %>
      <div class="rounded shadow-lg w-1/3 h-80">
          <% product.images.each do |image|  %>
            <%= image_tag(image) %>
          <% end %>
          <div class="px-6 py-2">
            <h3 class="text-start text-2x1 font-bold text-lime-400">  $<%= product.price %> </h3>
            <div class="flex justify-between">
              <div class="flex">
                <%= image_tag "bed.png", class:"room"%>
                <%= product.room %>
              </div>
              <div class="flex">
                <%= image_tag "bathroom", class:"room" %>
                <%= product.bathroom %>
              </div>
            </div>
              <p id="name"> <%= product.name %> </p>
          </div>
      </div>
    <% end %>

    

</div>
